section {
    position: relative;
    margin: 96px auto 32px;
    padding: 24px 32px;
    width: 90%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

section h1 {
    margin-bottom: 24px;
    padding: 12px 24px;
    width: fit-content;
    border-radius: 4px;
    background-image: linear-gradient(to right, #91CB3E, #53A548, #4C934C);
    color: #222;
}