footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
    padding: 32px;
    background-color: #000;
    color: #fff;
}

footer .info, footer .contact {
    display: flex;
    flex-direction: column;
}

footer .divider {
    width: 4px;
    height: 100px;
    border-radius: 4px;
    background-color: #333;
}

footer .info p, footer .contact a {
    display: flex;
    align-items: center;
}

footer .info p + p, footer .contact a + a {
    margin-top: 8px;
}

footer .info p svg, footer .contact a svg {
    margin: 0 8px;
}